In [2]:
'''
importing all the required libraries.
'''
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd

In [3]:
'''
get complete html content of the website.
'''
source=requests.get("https://www.mohfw.gov.in/").text
soup=BeautifulSoup(source,"html.parser")

In [4]:
'''
scrapeing the required tags and writing into the csv file.
'''
table=soup.find("table",class_="table table-striped")
states=[]
with open('India_Covid19.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["SL.No","State","Confirmed","Recovered","Deaths"])
    for row in table.find_all("tr"):
        for cell in row.find_all("td"):
            states.append(cell.text)
        writer.writerow(states)
        states=[]

In [7]:
'''
reading the csv file to get data_frame through pandas.
'''
covid19=pd.read_csv("India_Covid19.csv")
covid19

,SL.No,State,Confirmed,Recovered,Deaths
0,1,Andaman and Nicobar Islands,33.0,33.0,0.0
1,2,Andhra Pradesh,3110.0,1896.0,56.0
2,3,Arunachal Pradesh,2.0,1.0,0.0
3,4,Assam,526.0,62.0,4.0
4,5,Bihar,2730.0,749.0,13.0
5,6,Chandigarh,238.0,186.0,3.0
6,7,Chhattisgarh,291.0,72.0,0.0
7,8,Dadar Nagar Haveli,2.0,0.0,0.0
8,9,Delhi,14053.0,6771.0,276.0
9,10,Goa,67.0,19.0,0.0
10,11,Gujarat,14460.0,6636.0,888.0
11,12,Haryana,1184.0,765.0,16.0
12,13,Himachal Pradesh,223.0,67.0,5.0
13,14,Jammu and Kashmir,1668.0,809.0,23.0
14,15,Jharkhand,377.0,148.0,4.0
15,16,Karnataka,2182.0,705.0,44.0
16,17,Kerala,896.0,532.0,5.0
17,18,Ladakh,52.0,43.0,0.0
18,19,Madhya Pradesh,6859.0,3571.0,300.0
19,20,Maharashtra,52667.0,15786.0,1695.0
20,21,Manipur,39.0,4.0,0.0
21,22,Meghalaya,14.0,12.0,1.0
22,23,Mizoram,1.0,1.0,0.0
23,24,Nagaland,3.0,0.0,0.0
24,25,Odisha,1438.0,649.0,7.0
25,26,Puducherry,41.0,12.0,0.0
26,27,Punjab,2060.0,1898.0,40.0
27,28,Rajasthan,7300.0,3951.0,167.0
28,29,Sikkim,1.0,0.0,0.0
29,30,Tamil Nadu,17082.0,8731.0,118.0
30,31,Telengana,1920.0,1164.0,56.0
31,32,Tripura,194.0,165.0,0.0
32,33,Uttarakhand,349.0,58.0,3.0
33,34,Uttar Pradesh,6532.0,3581.0,165.0
34,35,West Bengal,3816.0,1414.0,278.0
35,NaN,Cases being reassigned to states,2970.0,NaN,NaN
36,NaN,Total#,145380.0,60491.0,4167.0
37,*(Including foreign Nationals)\n\n,NaN,NaN,NaN,NaN
38,**( more than 70% cases due to comorbidities )\n,NaN,NaN,NaN,NaN
39,#States wise distribution is subject to furthe...,NaN,NaN,NaN,NaN
40,#Our figures are being reconciled with ICMR,NaN,NaN,NaN,NaN

In [8]:
'''
droping the unwanted columns.
'''
covid19.dropna(how="any",inplace=True)
covid19

   SL.No                        State  Confirmed  Recovered  Deaths
0      1  Andaman and Nicobar Islands       33.0       33.0     0.0
1      2               Andhra Pradesh     3110.0     1896.0    56.0
2      3            Arunachal Pradesh        2.0        1.0     0.0
3      4                        Assam      526.0       62.0     4.0
4      5                        Bihar     2730.0      749.0    13.0
5      6                   Chandigarh      238.0      186.0     3.0
6      7                 Chhattisgarh      291.0       72.0     0.0
7      8           Dadar Nagar Haveli        2.0        0.0     0.0
8      9                        Delhi    14053.0     6771.0   276.0
9     10                          Goa       67.0       19.0     0.0
10    11                      Gujarat    14460.0     6636.0   888.0
11    12                      Haryana     1184.0      765.0    16.0
12    13             Himachal Pradesh      223.0       67.0     5.0
13    14            Jammu and Kashmir     1668.0      809.0    23.0
14    15                    Jharkhand      377.0      148.0     4.0
15    16                    Karnataka     2182.0      705.0    44.0
16    17                       Kerala      896.0      532.0     5.0
17    18                       Ladakh       52.0       43.0     0.0
18    19               Madhya Pradesh     6859.0     3571.0   300.0
19    20                  Maharashtra    52667.0    15786.0  1695.0
20    21                      Manipur       39.0        4.0     0.0
21    22                    Meghalaya       14.0       12.0     1.0
22    23                      Mizoram        1.0        1.0     0.0
23    24                     Nagaland        3.0        0.0     0.0
24    25                       Odisha     1438.0      649.0     7.0
25    26                   Puducherry       41.0       12.0     0.0
26    27                       Punjab     2060.0     1898.0    40.0
27    28                    Rajasthan     7300.0     3951.0   167.0
28    29                       Sikkim        1.0        0.0     0.0
29    30                   Tamil Nadu    17082.0     8731.0   118.0
30    31                    Telengana     1920.0     1164.0    56.0
31    32                      Tripura      194.0      165.0     0.0
32    33                  Uttarakhand      349.0       58.0     3.0
33    34                Uttar Pradesh     6532.0     3581.0   165.0
34    35                  West Bengal     3816.0     1414.0   278.0

In [10]:
'''
converting columns to the integer data type for visualization purpose.
'''
covid19["SL.No"]=covid19["SL.No"].astype("int64")
covid19["Confirmed"]=covid19["Confirmed"].astype("int64")
covid19["Recovered"]=covid19["Recovered"].astype("int64")

In [12]:
covid19.head()

   SL.No                        State  Confirmed  Recovered  Deaths
0      1  Andaman and Nicobar Islands         33         33     0.0
1      2               Andhra Pradesh       3110       1896    56.0
2      3            Arunachal Pradesh          2          1     0.0
3      4                        Assam        526         62     4.0
4      5                        Bihar       2730        749    13.0

In [13]:
'''
converting data cleaned data frame to a csv file
'''
pd.DataFrame(covid19).to_csv("India_covid19.csv")